<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Reader - Home Page:</title>
     
    <style type="text/css" media="screen">
        body {
            background-color: #EEEEEE;
            text-decoration-color: white;
            font-size:10;
        }
    </style>
</head>
 
<body>
    <h1>The Wandering Samurai</h1>
	<h2>Musings of a Lost Soul </h2>
	<h3>Hirosaki Murakami</h3>
    <center>This is the reader's article page.</center>
</body>
</html>   