<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
<head>
    <title>Reader - Article Page:</title>
</head>

<body>
	<center>
		<img id="samurai_image" src="/images/samurai.png" height="100px" width="100px" alt="Samurai">
		<h1>The Wandering Samurai</h1>
		<h2>Musings of a Lost Soul </h2>
		<h3>By Hirosaki Miroshimo </h3>
		<h1>Published Articles</h1>
		<ul>
			<li> Travelling up a mountain.</li>
			<li> Getting lost up a mountain </li>
			<li> Finding a way out of the mountain </li>
		</ul>
		<a href="author"><input type=button value="Return to the author's homepage"></a>
	</center>
</body>
</html>   