/*
* CSS STYLESHEET
*/

/* Body-related styling */
/* Most pages have a different background colour */

body 
{
	margin: 0px;
	height: 100%;
	background-color: #EAFDFC;
	font-family: "Space Grotesk", sans-serif;
	font-size: 12px; 
	margin: 0;
}

#author body 
{
	background-color: #B5D5C5;
}

#edit body 
{
	background-color: #9EA1D4;
}

#read body 
{
	background-color: #F5EDCE
}

#setting body
{
	background-color: #ECE8DD
}  

/* Header related-styling */
/* The header consists of an image, a blue background and purple font */

#samurai_image
{
	border-radius: 50%;
	border: 1px solid #ddd;
	padding: 2px;
	width: 18%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* reflect the image to the right with gradient effect */
	-webkit-box-reflect: right 10px; 
}

header 
{
	background-color: #89C4E1;
	color: #58287F;
}

/* The container is used to make the site better in terms of style */
.container 
{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}
	

/* Button styling */
/* NOTE: Not created by me */
/* However, I have made slight modifications */
/* attribution: https://gradientbuttons.colorion.co/ */
.action-btn-grad 
{
	background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: block;
}

.action-btn-grad:hover 
{
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

.navigation-btn-grad 
{
	background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97  51%, #DD5E89  100%);
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: block;
}

.navigation-btn-grad:hover 
{
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}
         
/* Page component styling */
h1, h2
{
	font-size: 14px;
	text-transform: uppercase;
}

h3
{
	font-size: 13px;
}
	
ul, ol
{
	list-style-type: ' ☯⚔️ ';
}

/* Row and column styling */
	
.row
{
	clear:both
}
	
.column
{
	width: 50%;
	float: left;
}

/* form styling */

input 
{
	width: 50%;
}

label
{
	font-style: italic;
}

/* 
Top navigation styling 
NOTE: Not created by me, but modified from:
https://www.w3schools.com/howto/howto_js_topnav.asp
*/

.topnav 
{
	background-color: #579BB1;
	overflow: hidden;
}

.topnav a 
{
	float: left;
	color: #243763;
	text-align: center;
	padding: 14px 16px;
	text-decoration: upper;
	font-size: 12px;
}

.topnav a:hover 
{
	background-color: #ddd;
	color: #58287F;
}
.topnav a.active 
{
	background-color: #3A4F7A;
	color: white;
}